.sidebar-wrapper {
  width: 70px;

  @media (min-width: 768px) {
    width: 120px;
  }

  @media (min-width: 992px) {
    width: 240px;
  }

  .nav__link {
    padding: 0.5em;
    &:hover {
      color: var(--bs-startup) !important;
      // background-color: #fafafa;
    }

    .nav-item {
      display: grid;
      grid-template-columns: 100%;
      gap: 1em;

      @media (min-width: 992px) {
        grid-template-columns: 30% 1fr;
      }

      .nav-icon {
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 992px) {
          margin-right: 0;
        }
      }

      .nav_link_text {
        vertical-align: middle;
        font-size: 1.125rem;
      }
    }
  }
}
